body{

background: lightgreen;
color: white;
}

header{
background: rgb(127, 197, 153);
color: rgb(249, 245, 245);
border-bottom: solid 10px rgb(251, 254, 252);
font-size: 30px;
padding: 10px;

}


section{

background: rgb(134, 229, 144);
padding-bottom:80px ;
display:flex ;
justify-content: center;
font-family: "Amatic SC", sans-serif;
font-size: 30px;


}

.chamada-texto{
margin-right: 80px;
padding-right: 200px ;
margin-left: 10px;
}

.categoria-vídeos img{
height:250px;
opacity: 0.5;

}

.video-principal{
margin-left: 20px



}
.categoria-vídeos{
display:flex;
overflow: auto;
gap: 10px;


}
.categoria { 
padding-left: 20px;
padding-right: 20px;


}

.categoria-vídeos img:hover {
opacity: 1.0;
border: solid 5px white;
}


